// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #154260; // Thats a sample how you could change a BootStrap variable.
$black: #000;
$gray: #444757;
$blue: #154260;
$aqua: #6cc8c3;
$light-blue: #0079b1;
$orange: #f18757;
$salmon: #ee674D;
$tan: #eaebe8;
$lime: #A7B839;